@mixin mapa-celular {
    @media(min-width:$celular){
        iframe{
            display: flex;
            justify-content: center;
    
        }
        @content
    }
}
;
@mixin mapa-tablet {
    @media(min-width:$tablet){
        iframe{
            width: 690px;
            display: flex;
            justify-content: center;
    
        }
        @content
    }
}
;
@mixin mapa-escritorio {
    @media(min-width:$escritorio){
        .mapa{
            display:flex;
            justify-content: center;
        }
        iframe{
            width: 1000px;
        }
        @content
    }
}
;

@mixin medida-doctores1 {
    @media(min-width:$celular){
        .doctores-items{
          display: flex;
          flex-direction: column;
        }
        @content
    }
    
}
;

@mixin medida-doctores2 {
    @media(min-width:$tablet){
        .doctores-items{
          display: flex;
          flex-direction: column;
        }
        @content
    }
}
;

@mixin medida-doctores3{
    @media(min-width:$escritorio){
        .doctores-items{
          display: flex;
          flex-direction: row;
        }
        @content
    }
}
