@mixin tarjeta {
    border: solid;
    border-radius: 50px;
    padding: $espaciado;
    background-color: rgb(193, 210, 212);
    text-align: center;
    font-size: x-large;
}

@mixin efecto {
    box-shadow: 0 5px 15px green;
    transform: translateY(-15px);

}

@mixin efecto2 {
    padding: 10px;
        width: 200px;
        color: rgb(201, 70, 70);
        border-radius: 20px;
        background: linear-gradient(lightblue, rgb(190, 190, 204));
        transition-property: transform;
        transition-duration: 1s;
        display: inline-block;
        text-decoration: none;
        text-align: center;


        &:hover {
            color: $coloruno;
            transform: rotate(360deg);
        }
    
}

