.contenedor-especialidades{
    h3{
        color: $colorheader;
        text-decoration-line: none;
    }
    display: inline-flex;
    flex-wrap: wrap;
    gap: $espaciado;
    font-style: $textolindo;
    font-weight: bold;
    color: rgb(97, 80, 80);
    gap: 100px;

    &:hover{
        cursor: pointer;
        
    }
    
    }



.especialidades{
    font-style: $textolindo;
    padding: $espaciado;
    color: $colorheader;
    text-align: center;
    text-decoration-line:none;
}
 li{
        list-style: none;
    }

.conoce-a-medicos{
    @include efecto2;
    text-decoration-line: none;
    a{
    color: #3675b491;
    text-decoration: none;
    }
}
.turnos{
    @include tarjeta-especialidades;
    width: 400px;
    height: 400px;
    justify-content: center;
    background-color: rgb(121, 150, 170);
    justify-content: baseline;

    &:hover{
        @include efecto;
        background-color: rgb(185, 220, 185);
    }
    
}

@include mapa-celular;
@include mapa-tablet;
@include mapa-escritorio;

@include medida-especialidades-celular;
@include medida-especialidades-tablet;
@include medida-especialidades-escritorio;
