body {
    background: linear-gradient(rgb(243, 248, 243), rgba(108, 190, 196, 0.377), rgb(188, 188, 219));
}

article {
    padding: 50px;

    h2 {
        color: $coloruno;
        font-weight: inherit;
        text-decoration: none;
        padding-bottom: 50px;
        text-align: center;
    }
    
    span{
        color:$colorheader;
    }

    p {
        color: rgba(0, 0, 0, 0.514);
        text-align: center;
        font-style: $textolindo;
        padding-bottom: 60px;
        line-height: 40px;
    }
}

@include mapa-celular;

@include mapa-tablet;

@include mapa-escritorio;