.doctores-items {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 800px 800px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 150px;

    h2 {
        color: rgb(179, 179, 52);
    }

}

.tarjetas-doctores {
    @include tarjeta-doctores;
}


@include mapa-celular;
@include mapa-tablet;
@include mapa-escritorio;

