
.doctores-items{
    display: flex;
    gap: $espaciado;
    h2{
        color: rgb(179, 179, 52); 
    }
    
}

.tarjetas-doctores{
    border: solid;
    border-radius: 50px;
    padding: $espaciado;
    background-color: rgb(193, 210, 212);
    text-align: center;
    font-size: x-large;
    align-content: center;
    align-items: baseline;

    &:hover{
        box-shadow: 0 5px 15px green;
        transform: translateY(-15px);
    }

}
.juana{
        padding-top: 1px;
    }