footer {
    padding-bottom: 100px;

    h4 {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: larger;
        font-style: $textolindo;
        color: rgba(143, 75, 19, 0.63);
        padding: $espaciado;
    }

    ul {
        list-style: none;
        font-size: large;
        font-style: $textolindo;
        text-align: center;
        line-height: $espaciado;

       } 
        

    a {
        padding: 10px;
        color: rgb(201, 70, 70);
        border-radius: 20px;
        background: linear-gradient(lightblue, rgb(190, 190, 204));
        transition-property: transform;
        transition-duration: 1s;
        display: inline-block;
        text-decoration: none;
        text-align: center;


        &:hover {
            color: $coloruno;
            transform: rotate(360deg);
        }
    }

    .redes{
    
        display:flex; 
        justify-content: space-around;
        align-items: center;
    }

    .mapa{
        padding: $espaciado;
    }


}
