h1 {
        color: $colorheader;
        text-align: center;
        padding: 10px;
        padding-left: 50px;
        padding-bottom: 10px;
    }

.img-nav{
    width: 65px;
    border-radius: 10px;
}

.navbar{
    --bs-navbar-color:rgba(50, 61, 61, 0.329);
    .nav-link{
        background-color: rgba(158, 83, 83, 0.301);
        border-radius: 20px;
        transition-property: transform;
        &:hover{
            background-color: rgba(158, 83, 83, 0.692);
            transform:translateY(-10px);
            transition-duration: 0.1    s;
        }
        
    }
}
