h1 {
        color: $colorheader;
        text-align: center;
        padding: 10px;
        padding-left: 50px;
        padding-bottom: 10px;
    }

.img-nav{
    width: 65px;
    border-radius: 10px;
}

.navbar{
    --bs-navbar-color:rgb(163, 130, 130);
}
